<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    {% assign nav = site.pages | sort:"order" %}
    {% for item in nav %}
    {% if item.title and item.nomainnav != 1 %}
    <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
    </a>
    {% endif %}
    {% endfor %}
</div>


<div class="hamburger-nav" onclick="openNav(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<nav class="site-nav location-{{ include.location }}">
    <ul>
        {% assign nav = site.pages | sort:"order" %}
        {% for item in nav %}
        {% if item.title and item.nomainnav != 1 %}
        <li{% if item.url == page.url %} class="selected" {% endif %}>
            <a href="{{ site.baseurl }}{{ item.url }}">
                {{ item.title }}
            </a>
            </li>
            {% endif %}
            {% endfor %}
    </ul>
</nav>