<nav class="site-nav location-{{ include.location }}">
    <ul>
        {% assign nav = site.pages | sort:"order" %}
        {% for item in nav %}
            {% if item.title and item.nomainnav != 1 %}    
            <li{% if item.url == page.url %} class="selected"{% endif %}>
                <a href="{{ site.baseurl }}{{ item.url }}">
                    {% if item.icon %}<i class="fas {{ item.icon }}"></i>{% endif %}
                    {{ item.title }}
                </a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>

    
</nav>