{% if page.sidebar == 1 %}
<aside class="site-sidebar">

    <h3>Sidebar</h3>

    <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc sic expositum dissimile est superiori. Aliter enim explicari, quod quaeritur, non potest. Luxuriam non reprehendit, modo sit vacua infinita cupiditate et timore. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Duo Reges: constructio interrete. Quod autem in homine praestantissimum atque optimum est, id deseruit. Nam et complectitur verbis, quod vult, et dicit plane, quod intellegam; Ut in geometria, prima si dederis, danda sunt omnia. Quid autem habent admirationis, cum prope accesseris? Quodsi ipsam honestatem undique pertectam atque absolutam.
    </p>

</aside>
{% endif %}