@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i|Merriweather:400,400i,700,700i&display=swap");
:root {
  --font-size-body: 14px;
  --font-size-body-larger: 16px;
  --font-size-body-big: 18px;
  --font-size-body-huge: 20px;
  --layout-main-width: 60em;
  --color-body-text: #000;
  --color-body-bgrd: #FFF;
  --color-link-default: #87C232;
  --color-header-bgrd: #222629;
  --color-border-default: #999;
  --spacing-layout-elements: 2em; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: var(--font-size-body, 14px)/1.5 "Fira Sans", Georgia, serif; }

@media (min-width: 600px) {
  html {
    font-size: var(--font-size-body-larger, 16px); } }

@media (min-width: 1024px) {
  html {
    font-size: var(--font-size-body-big, 18px); } }

@media (min-width: 1600px) {
  html {
    font-size: var(--font-size-body-huge, 20px); } }

body, table, form, select, option, input, textarea {
  font: inherit;
  background: var(--color-body-bgrd, #FFF);
  color: var(--color-body-text, #000); }

.site-title,
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-family: Merriweather, serif; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.0em; }

a {
  text-decoration: none;
  color: var(--color-link-default, #0A0); }

p, ul, ol {
  padding-bottom: 1.5em; }

ul, ol {
  padding-left: 2em; }

ul ul, ol ul, ul ol, ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

ol > li > ol > li {
  list-style-type: lower-roman; }

blockquote {
  padding: 1rem; }

blockquote .author {
  font-style: italic;
  text-align: right;
  opacity: 0.5; }

blockquote .author:before {
  display: inline-block;
  content: '\2014';
  padding-right: 0.5em; }

.button {
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: var(--color-link-default);
  color: var(--color-body-bgrd);
  border-radius: 0.3em;
  border: 1px solid transparent; }
  .button:hover {
    background-color: var(--color-body-bgrd);
    color: var(--color-link-default);
    border-color: var(--color-link-default); }
  .button-secondary {
    background-color: var(--color-body-bgrd);
    color: var(--color-link-default);
    border-color: var(--color-link-default); }
    .button-secondary:hover {
      text-decoration: underline; }
  .button-wrapper {
    display: flex; }
    .button-wrapper .button {
      display: block; }
      .button-wrapper .button + .button {
        margin-left: 1em; }

.site {
  margin: 0 auto; }
  .site-main-background {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
    display: none; }
  .site-main-background:nth-child(1) {
    background: url("../images//main-background.jpg") top center; }
  .site-main-background:nth-child(2) {
    background: url("../images//main-background-2.jpeg") center center; }
  .site-main-background:nth-child(3) {
    background: url("../images//main-background-3.jpg") center; }
  .site-main-background-text {
    width: 400px;
    color: #fff;
    margin-left: 50px;
    padding: 1em;
    background: #222629;
    background: rgba(34, 38, 41, 0.5); }
  .site .prev, .site .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .site .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .site .prev:hover, .site .next:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  .site .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
  .site .main-offer {
    text-align: center;
    color: #222629;
    width: 80%;
    margin: var(--spacing-layout-elements) auto 0 auto; }
  .site .main-offer ul {
    display: flex;
    justify-content: space-around; }
  .site .main-offer ul li {
    list-style-type: none;
    text-align: center; }
  .site .main-offer ul li .offers-image {
    background: #474A4F;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto 10px auto; }
  .site .main-offer ul li .offers-image img {
    margin: 20px auto auto auto; }
  .site .main-offer ul li .offers-text {
    width: 250px; }
  .site .main-packages .packages {
    display: flex;
    justify-content: space-around; }
  .site .main-packages .packages > li {
    list-style-type: none;
    border: 1px solid #6A6E71;
    border-bottom: 3px solid #6A6E71; }
  .site .main-packages .packages > li:hover {
    border-color: #87C232; }
  .site .main-packages .packages > li div {
    width: 400px; }
  .site .main-packages .packages > li div img {
    width: 100%; }
  .site .main-packages .packages > li div .packages-text {
    padding: 1em;
    color: #6A6E71; }
  .site .main-packages h1 {
    text-align: center; }
  .site .main-packages .packages-text h3 {
    font-size: 23px; }
  .site .main-packages .packages-text p {
    padding-bottom: 5px;
    font-style: italic; }
  .site .main-packages .packages-text .price {
    font-size: 1.5em;
    font-weight: bold; }
  .site .main-packages .packages-text .price span {
    font-size: 0.8em;
    font-weight: 100; }
  .site .main-packages .packages-text h3 {
    margin-bottom: 0; }
  .site .main-packages .packages-text a {
    background: var(--color-header-bgrd);
    padding: 15px;
    display: inline-block;
    border-radius: 10px; }
  .site .main-packages .packages-text a:hover {
    color: #fff;
    cursor: pointer; }
  .site .main-training {
    background: #222629;
    color: #87C232;
    height: 300px;
    padding: 3em 10em; }
  .site .main-training span {
    display: block; }
  .site .main-training a {
    border: 2px solid #fff;
    padding: 0.8em 1em;
    transition: background 0.3s ease-in; }
  .site .main-training a:hover {
    background: #fff; }
  .site .newsletter {
    text-align: center;
    margin: var(--spacing-layout-elements); }
  .site .newsletter form {
    display: flex;
    align-items: center;
    justify-content: center; }
  .site .newsletter form input {
    padding: 5px;
    width: 300px;
    margin-right: 20px; }
  .site .newsletter form button {
    height: 40px;
    padding: 0 20px;
    background: #618930;
    font-size: 1em;
    border: none;
    color: #fff;
    cursor: pointer; }
  @media (min-width: 1024px) {
    .site {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 4em;
      grid-template-areas: "header header" "main main" "footer footer"; }
      .site .site-header {
        grid-area: header;
        display: flex;
        align-items: center; }
      .site .site-main {
        grid-area: main; }
      .site .site-main-background-text a {
        font-size: 25px; }
      .site .site-sidebar {
        grid-area: sidebar; }
      .site .site-footer {
        grid-area: footer; }
      .site .site-header nav {
        margin-left: auto; } }
  @media (max-width: 650px) {
    .site {
      display: grid;
      grid-template-areas: "header header" "main sidebar" "footer footer"; }
      .site .site-header {
        grid-area: header; }
      .site .site-main {
        grid-area: main; }
      .site .site-sidebar {
        grid-area: sidebar; }
      .site .site-footer {
        grid-area: footer; }
      .site .site-header {
        display: grid;
        grid-template-columns: 5fr 1fr;
        align-items: center; }
      .site .site-nav {
        grid-column: 1 / -1; }
      .site .site-nav ul {
        flex-direction: column; }
      .site .site-nav ul li {
        width: 100%;
        padding: 0; }
      .site .site-nav ul li a {
        border-radius: 0;
        padding: 1.5em; }
      .site .site-nav ul li {
        background: #0C0D11;
        color: #66FCF1; }
      .site .site-header .site-title {
        margin-right: auto; }
      .site .site-nav {
        display: none; } }

.trainers {
  width: 90%;
  margin: 0 auto; }

.trainers > h1 {
  text-align: center;
  margin-top: calc(var(--spacing-layout-elements) / 2); }

.trainers h1 span {
  font-weight: 900;
  color: #618930; }

.trainers ul li {
  list-style-type: none;
  display: flex; }

.trainers ul li img {
  width: 50%; }

.trainers ul li img:nth-child(odd) {
  margin-right: var(--spacing-layout-elements); }

.trainers ul li:nth-child(2) {
  margin: var(--spacing-layout-elements) 0; }

.trainers ul li img:nth-child(even) {
  margin-left: var(--spacing-layout-elements); }

.trainers ul li .quote {
  display: block;
  font-weight: bold;
  font-style: italic;
  margin: 10px 0; }

.trainers > div {
  background: #474A4F;
  color: #87C232;
  padding: 2em;
  text-align: center; }

.trainers > div h1 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1em; }

.trainers > div a {
  border: 3px solid #87C232;
  padding: 0.5em 1em;
  font-size: 1.2em;
  transition: background 0.3s ease-in, color 0.3s ease-in; }

.trainers > div a:hover {
  background: #87C232;
  color: #474A4F; }

.site-header {
  background: var(--color-header-bgrd);
  padding: 0 5em; }

.site-title {
  margin: 0;
  padding: 0;
  font-size: 2em; }
  .site-title a {
    display: block;
    padding: 0.5em 0; }

.site-header-background {
  background: url("../../images/body_bgrd.jpg"); }

.site-footer {
  margin-top: var(--spacing-layout-elements);
  padding-top: calc( var(--spacing-layout-elements) / 2);
  background: var(--color-header-bgrd);
  color: var(--color-link-default);
  padding-left: 5em; }

.hamburger-nav {
  display: none;
  cursor: pointer; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #66FCF1;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px); }

.site-nav > ul {
  display: flex;
  padding: 0; }

.site-nav li {
  display: block;
  list-style: none outside;
  padding: 0 0.5em; }

.site-nav li:first-child {
  padding-left: 0; }

.site-nav a {
  display: block;
  padding: 0.5em 1em;
  border-radius: 0.3em; }

.site-nav li.selected > a,
.site-nav a:hover {
  color: #EDF5E0; }

.site-nav a i.fas:before {
  color: var(--color-link-default);
  margin-right: 0.5em; }

.site-nav li.selected > a i.fas:before,
.site-nav a:hover i.fas:before {
  color: #EDF5E0; }

.page-animations .site-main h1,
.page-animations .site-header,
.page-animations .site-footer {
  display: none; }

.page-animations {
  min-height: 100vh; }

/*
.box {
    width: 5em;
    height: 5em;
    background: #F00;
    position: absolute;
    animation: around 4s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
*/
.box {
  width: 20em;
  height: 15em;
  border: 2px solid #000;
  margin: 2em auto;
  background: #EEE; }

.box:hover {
  -webkit-animation: shake 0.5s ease;
          animation: shake 0.5s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-2em, -2em); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-2em, -2em); }
  to {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes shake {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(-2em); }
  40% {
    transform: translateX(2em); }
  60% {
    transform: translateX(-1em); }
  80% {
    transform: translateX(1em); }
  100% {
    transform: translateX(0); } }

@keyframes shake {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(-2em); }
  40% {
    transform: translateX(2em); }
  60% {
    transform: translateX(-1em); }
  80% {
    transform: translateX(1em); }
  100% {
    transform: translateX(0); } }

@-webkit-keyframes around {
  0% {
    top: 0;
    left: 0; }
  25% {
    top: 0;
    left: calc(100% - 5rem); }
  50% {
    top: calc(100% - 5rem);
    left: calc(100% - 5rem); }
  75% {
    top: calc(100% - 5rem);
    left: 0; }
  100% {
    top: 0;
    left: 0; } }

@keyframes around {
  0% {
    top: 0;
    left: 0; }
  25% {
    top: 0;
    left: calc(100% - 5rem); }
  50% {
    top: calc(100% - 5rem);
    left: calc(100% - 5rem); }
  75% {
    top: calc(100% - 5rem);
    left: 0; }
  100% {
    top: 0;
    left: 0; } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; }

.modal .inner {
  max-width: 90vw;
  max-height: 90vh;
  display: block;
  background: #FFF;
  padding: 2em;
  border-radius: 0.3em;
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);
  overflow: hidden; }

.modal .inner img {
  display: block;
  width: 100%;
  height: auto; }

.page-gallery {
  background: url("../images/body_bgrd.jpg"); }

.gallery {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  grid-auto-flow: dense; }

.gallery a,
.gallery span,
.gallery img {
  display: block; }

.gallery img {
  width: 100%;
  height: auto; }

.gallery li {
  display: block;
  list-style: none outside;
  position: relative;
  overflow: hidden;
  grid-column: span 2; }

.gallery li:before {
  display: block;
  content: '';
  padding-top: 50%; }

.gallery li.portrait {
  grid-column: span 1;
  grid-row: span 2; }

.gallery li.portrait a {
  display: flex; }

.gallery li.small img,
.gallery li.portrait img {
  width: auto;
  height: 100%; }

.gallery li.portrait:before {
  padding-top: 200%; }

.gallery li.small {
  grid-column: span 1;
  grid-row: span 1; }

.gallery li.small:before {
  padding-top: 100%; }

.gallery li > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.gallery li > a:hover img {
  position: relative;
  z-index: 1; }

.gallery li > a:hover:before {
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.gallery li > a:hover strong {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 3;
  color: #FFF; }
