<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
</head>

<body class="
    {% if page.title %}page page-{{ page.title | slugify }}{% endif %}
    {% if post.title %}post{% endif %}
    {% if page.home %}home{% endif %}
">
    <div class="site">

        <header class="site-header">

            {% if page.home == true %}
            <h1 class="site-title">
                <a href="{{ site.baseurl }}/">{{site.title}}</a>
            </h1>
            {% else %}
            <p class="site-title">
                <a href="{{ site.baseurl }}/">{{site.title}}</a>
            </p>
            {% endif %}

            {% include navigation.html location="header" %}

        </header>

        <main class="site-main">
            {{content}}

        </main>

        <footer class="site-footer">
            <div class="fotter-wrapper">

                <div class="about">
                    <h3>About Golden Gym</h3>

                    <p>Golden Gym is a Lifestyle Training and Nutrition Coaching Company.
                        Our goal is to inspire people to start training and change their lifestyle to a better one.
                        We offer help from professional coaches who will put you on the right track and make your life a
                        better one.</p>
                    <p>All rights reserved &copy; {{ site.title }}</p>
                </div>

                <div class="navigation">
                    <h3>Site Links</h3>
                    <nav class="site-nav location-{{ include.location }}">
                        <ul>
                            {% assign nav = site.pages | sort:"order" %}
                            {% for item in nav %}
                            {% if item.title and item.nomainnav != 1 %}
                            <li{% if item.url == page.url %} class="selected" {% endif %}>
                                <a href="{{ site.baseurl }}{{ item.url }}">
                                    {{ item.title }}
                                </a>
                                </li>
                                {% endif %}
                                {% endfor %}
                        </ul>
                    </nav>
                </div>

                <div class="social-media">
                    <h3>Stay in touch</h3>

                    <ul>
                        <li><a href="www.facebook.com"><i class="fab fa-facebook-f"></i>Facebook</a></li>
                        <li><a href="www.instagram.com"><i class="fab fa-instagram"></i>Instagram</a></li>
                        <li><a href="www.twitter.com"><i class="fab fa-twitter"></i>Twitter</a></li>
                        <li><a href="{{site.baseurl}}/contacts"><i class="fas fa-envelope-open"></i>Contact us</a></li>
                    </ul>
                </div>

            </div>

        </footer>

    </div>

    <script src="{{ site.baseurl }}/scripts/site.js"></script>
    <script src="{{ site.baseurl }}/scripts/navigation.js"></script>
    <script src="{{ site.baseurl }}/scripts/online-coaching.js"></script>
</body>

</html>