.fitness-classes{
    h1{
        text-align: center;
        margin: calc(var(--spacing-layout-elements) / 2) 0;
    }

    table{
        margin: 0 auto;

        td{
            padding: 1em;
        }
    }

    table thead{
        text-align: center;

        tr{
            background: #474A4F;

            td{
                color: #fff;
                // padding: 0.5em 0;
            }
        }
    }

    table tbody{
        td{
            // padding: 0.5em;
            text-align: center;
        }

        td:nth-child(1){
            text-align: left;
            color: #fff;
        }

        tr:nth-child(even) td:nth-child(1){
            background: #6A6E71;
        }

        tr:nth-child(odd) td:nth-child(1){
            background: #222629;
        }
    }

    p{
        width: 70%;
        margin: 0 auto;
        margin-top: var(--spacing-layout-elements);
    }
}