.site {
    // max-width: var(--layout-main-width);
    margin: 0 auto;

    .site-header {
        display: flex;
        align-items: center;
    }

    &-main-background{
        height: 900px;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 5em;
        padding-left: 2em;
        display: none;
    }

    &-main-background:nth-child(1){
        background: url('../images//main-background.jpg') top center;
    }

    &-main-background:nth-child(2){
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images//main-background-2.jpeg') center center;
    }

    &-main-background:nth-child(3){
        background: url('../images//main-background-3.jpg') center;
    }

    &-main-background:nth-child(1) &-main-background-text{
        width: 400px;
        color: #fff;
        margin-left: 50px;
        padding: 1em;
        background: rgba(34, 38, 41, 0.5);
    }
    
    &-main-background:nth-child(2) &-main-background-text{
        text-align: center;
        width: 900px;
        margin: 0 auto;
        font-size: 1.7em;
        color: #fff;
        margin-top: 2.5em;

        a{
            border: 3px solid var(--color-link-default);
            padding: 1em;
            transition: background 0.3s ease-in-out, color 0.3s ease-in-out; 
        }

        a:hover{
            background: var(--color-link-default);
            color: #fff;
        }
    }

    &-main-background:nth-child(3) &-main-background-text{
        width: 600px;
        text-align: center;
        color: #fff;
        margin: 50px 0 0 50px;
        padding: 1em;
        background: rgba(34, 38, 41, 0.5);
    }


    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }

    .mission{
        display: flex;
        align-items: center;

        &-image{
            width: 50%;

            img{
                width: 100%;
                height: 1000px;
            }
        }
        
        &-text{
            text-align: center;
            border: 2px solid #474A4F;
            padding: 1em;
            width: 50%;
            margin: 0 var(--spacing-layout-elements); 

            a{
                border: 3px solid var( --color-link-default);
                padding: 1em;
                display: inline-block;
                margin-top: 5px;
                transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
            }

            a:hover{
                background: var(--color-link-default);
                color: #fff;
            }

            h3::after{
                display: block;
                content: '';
                border-bottom: 3px solid #222629;
                width:  100px;
                margin: 0 auto;
            }
        }
    }

    .goals{
        display: flex;
        align-items: center;
        
        
        &-image{
            width: 50%;
            height: 930px;
            
            img{
                height: 930px;
                width: 100%;
            }
        }
        
        .text-wrap{
            background: #474A4F;        
            width: 50%;
            height: 930px;
            padding-top: 8em;
        }

        &-text{
            text-align: center;
            border: 2px solid #618930;
            padding: 2em;
            color: #fff;
            width: 80%;
            margin: 0 auto;
          

            h3::after{
                display: block;
                content: '';
                border-bottom: 3px solid #fff;
                width:  100px;
                margin: 0 auto;
            }
        }
    }

    .main-offer{
        text-align: center;
        color: #222629;
        width: 80%;
        margin: var(--spacing-layout-elements) auto 0 auto;
    }

    .main-offer ul{
        display: flex;
        justify-content: space-around;
    }

    .main-offer ul li{
        list-style-type: none;
        text-align: center;
    }

    .main-offer ul li .offers-image{
        background: #474A4F;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin: 0 auto 10px auto;
    }
    
    .main-offer ul li .offers-image img{
        margin: 20px auto auto auto;
    }

    .main-offer ul li .offers-text{
        width: 250px;
    }

    .main-packages .packages{
        display: flex;
        justify-content: space-around;
    }

    .main-packages .packages > li{
        list-style-type: none;
        border: 1px solid #6A6E71;
        border-bottom: 3px solid #6A6E71;
    }

    .main-packages .packages > li:hover{
        border-color: #87C232;
    }

    .main-packages .packages > li div{
        width: 400px;
    }

    .main-packages .packages > li div img{
        width: 100%;
    }

    .main-packages .packages > li div .packages-text{
        padding: 1em;
        color: #6A6E71;
    }

    .main-packages h1{
        text-align: center;
    }

    .main-packages .packages-text h3{
        font-size: 23px;
    }

    .main-packages .packages-text p{
        padding-bottom: 5px;
        font-style: italic;
    }

    .main-packages .packages-text .price{
        font-size: 1.5em;
        font-weight: bold;
    }

    .main-packages .packages-text .price span{
        font-size: 0.8em;
        font-weight: 100;
    }

    .main-packages .packages-text h3{
        margin-bottom: 0;
    }

    .main-packages .packages-text a{
        background: var(--color-header-bgrd);
        padding: 15px;
        display: inline-block;
        border-radius: 10px;
    }

    .main-packages .packages-text a:hover{
        color: #fff;
        cursor: pointer;
    }

    .main-training{
        background: #222629;
        color: #87C232;
        height: 300px;
        padding: 3em 10em;
        padding-bottom: 15em;
    }

    .main-training span{
        display: block;
    }

    .main-training a{
        border: 2px solid #fff;
        padding: 0.8em 1em;
        transition: background 0.3s ease-in;
    }

    .main-training a:hover{
        background: #fff;
    }
    
    .newsletter{
        text-align: center;
        margin: var( --spacing-layout-elements);
    }

    .newsletter form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .newsletter form input{
        padding: 5px;
        width: 300px;
        margin-right: 20px;
    }

    .newsletter form button{
        height: 40px;
        padding: 0 20px;
        background: #618930;
        font-size: 1em;
        border: none;
        color: #fff;
        cursor: pointer;
    }

    @include bp( laptop ) {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";

        .site-header {
            grid-area: header;
        }
        
        .site-main {
            grid-area: main;
        }

        .site-main-background-text a{
            font-size: 25px;
        }

        .site-sidebar {
            grid-area: sidebar;
        }
    
        .site-footer {
            grid-area: footer;
        }

        .site-main-background{
            height: 800px;
        }

        .site-main-background:nth-child(2) .site-main-background-text{
            width: 700px;
        }

        .mission-image img{
            height: 1100px;
        }

        .main-offer ul{
            justify-content: space-between;
        }

        .main-offer ul li .offers-text{
            width: 175px;
        }

        .fotter-wrapper {
            width: 100%;
        }

        .goals .text-wrap{
            padding-top: 4em;
        }

        .location-header{
            display: none;
        }

        .hamburger-nav{
            display: block;
        }

        .trainers ul{
            padding: 0;
            
            li img{
                width: 350px;
                height: 350px;
            }
        }
    }

    @include bp (tablet){
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";

        .site-header {
            grid-area: header;
        }
        
        .site-main {
            grid-area: main;
        }

        .site-main-background-text a{
            font-size: 25px;
        }

        .site-sidebar {
            grid-area: sidebar;
        }
    
        .site-footer {
            grid-area: footer;
        }

        .location-header{
            display: none;
        }

        .hamburger-nav{
            display: block;
        }

        .mission{
            flex-direction: column;
            margin: var(--spacing-layout-elements) 0;
        }

        .goals{
            flex-direction: column-reverse;
        }
        
        .mission-image{
            width: 300px;
            margin-bottom: var(--spacing-layout-elements);
        }
        
        .mission-image img{
            height: 300px;
        }

        .mission-text{
            width: 90%;
            margin: 0 auto;
            padding: 3em;
        }

        .goals-image{
            width: 250px;
            height: auto;
        }

        .goals-image img{
            width: 100%;
            height: auto;
            margin-bottom: var(--spacing-layout-elements);
        }

        .goals .text-wrap{
            width: 100%;
            height: auto;
            padding-bottom: 4em;
        }

        .main-offer ul{
            flex-direction: column;
        }

        .main-offer ul li{
            margin: 0 auto;
        }

        .main-offer ul li .offers-text{
            width: 300px;
        }

        .site-footer{
            padding: 2em;
        }

        .fotter-wrapper{
            display: flex;
            flex-direction: column;
        }

        .site-main-background:nth-child(1){
            padding-top: 10em;

            .site-main-background-text{
                width: 80%;
                margin: 0 auto;
                text-align: center;
            }
        }

        .site-main-background:nth-child(2) .site-main-background-text{
            width: 90%;

            h2{
                margin-bottom: calc(var(--spacing-layout-elements) / 2);
            }
        }

        .site-main-background:nth-child(3){
            padding-top: 10em;

            .site-main-background-text{
                width: 80%;
                margin: 0 auto;
            }
        }

        .main-offer ul{
            padding-left: 0;
        }

        .main-training{
            padding: 3em 9em;
        }

        .trainers ul li{
            flex-direction: column;
            text-align: center;

            &:nth-child(2){
                flex-direction: column-reverse;
            }


            img{
                width: 300px;
                height: 300px;

                &:nth-child(odd),
                &:nth-child(even){
                    margin: 0 auto;
                    margin-bottom: var(--spacing-layout-elements);
                }

            }
        }

        .site-contacts{
            flex-direction: column;

            h1, h3{
                text-align: center;
            }

            form{
                grid-gap: 1em;
                grid-template-columns: 50% auto;
                margin-bottom: var(--spacing-layout-elements);
                
                input{
                    width: 100%;
                }
            }

            .gym-info ul li i{
                font-size: 1.1em;
            }
        }
    }


    @include bp( phone ){
        display: grid;
        grid-template-areas:
        "header header"
        "main main"
        "footer footer";

        .site-header {
            grid-area: header;
            padding: 0 1em 0 1em;
        }
        
        .site-main {
            grid-area: main;
        }
    
        .site-footer {
            grid-area: footer;
        }

        .site-nav{
            grid-column: 1 / -1;
        }

        .site-nav ul{
            flex-direction: column;
        }

        .site-nav ul li{
            width: 100%;
            padding: 0;
        }

        .site-nav ul li a{
            border-radius: 0;
            padding: 0.5em 0;
        }


        .site-header .site-title{
            margin-right: auto;
        }

        .main-training{
            h1{
                width: 80%;
                margin: 0 auto;
                margin-bottom: calc(var(--spacing-layout-elements) / 2);
            }
            
            text-align: center;
            padding: 0;
            padding-top: 2em;
        }

        .main-offer ul{
            padding-left: 0;

            li .offers-text{
                width: 60%;
                margin: 0 auto;
            }
        }

        .newsletter form{
            flex-direction: column;

            input{
                margin: 0 auto;
                width: 90%;
                margin-bottom: var(--spacing-layout-elements);
            }
        }

        .trainers ul li img{
            width: 250px;
            height: 250px;
        }

        .site-contacts{
            form{
                grid-template-columns: auto;

                input{
                    width: 100%;
                }
            }
        }
    }
}