.site-nav {

}

.hamburger-nav {
    display: none;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #66FCF1;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.site-nav > ul {
    display: flex;
    padding: 0;
}

.site-nav li {
    display: block;
    list-style: none outside;
    padding: 0 0.5em;
}

.site-nav li:first-child {
    padding-left: 0;
}

.site-nav a {
    display: block;
    padding: 0.5em 1em;
    border-radius: 0.3em;
}

.site-nav li.selected > a,
.site-nav a:hover {
    color: #EDF5E0;
}

.site-nav a i.fas:before {
    color: var(--color-link-default);
    margin-right: 0.5em;
}
.site-nav li.selected > a i.fas:before,
.site-nav a:hover i.fas:before {
    color: #EDF5E0;
}
