.coaching{
    h1,h3{
        text-align: center;
        margin-top: calc(var(--spacing-layout-elements) / 2);
    }

    h3{
        width: 700px;
        margin: 0 auto;
    }

    > ul{ 
        margin-top: var(--spacing-layout-elements);

        > li:not(:last-child){
            margin-bottom: 2.5em;
        }

        > li{
            list-style-type: none;
            display: flex;

            img{
                margin-right: var(--spacing-layout-elements);
                height: 180px;
            }

            li, p{
                width: 80%;
            }
        }
    }

    &-testemonials{
        background: #222629;
        color: #fff;
        padding: 2em;
        margin-bottom: var(--spacing-layout-elements);
        height: 785px;
        position: relative;
        
        h2{
            text-align: center;
        }

        ul{
            text-align: center;
            width: 70%;
            margin: 0 auto;
            padding: 0;

            li{
                list-style-type: none;
                display: none;

                img{
                    margin-bottom: calc(var(--spacing-layout-elements) / 2);
                }
            }
        }
        
        > div{
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
        }

        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
          }
          
          .active, .dot:hover {
            background-color: #717171;
          }
    }

    form{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0 auto;
        margin-top: var(--spacing-layout-elements);

        input, textarea, select{
            margin-bottom: 20px;
            padding: 0.5em;
            width: 100%;
        }

        button{
            border: 3px solid var(--color-link-default);
            background: var(--color-link-default);
            padding: 0.7em;
            font-size: 1em;
            color: #fff;
            cursor: pointer;
        }
    }
}
