.site {

    &-header {
        background: var(--color-header-bgrd);
        padding: 0 5em;
    }

    &-title {
        margin: 0;
        padding: 0;
        font-size: 2em;

        a {
            display: block;
            padding: 0.5em 0;
        }
    }
    
    &-header-background{
        background: url('../../images/body_bgrd.jpg');
    }
}