.site-footer {
    margin-top: var(--spacing-layout-elements);
    padding-top: calc( var(--spacing-layout-elements) / 2 );
    background: var(--color-header-bgrd);
    color: var(--color-link-default);
    padding-left: 5em;
}